
<!-- Formulario para agregar Pokémon -->
<div class="w3-container w3-padding">
    <h2>Formulario para agregar un Pokémon</h2>
    {{#pokemon}}
    <form class="w3-container w3-card-4" method="POST" action="/pokedex/add">
        <p>
            <label class="w3-text-teal"><b>Número de Pokémon</b></label>
            <input class="w3-input w3-border" type="number" name="number" placeholder="Número de Pokémon" required value="{{number}}">
        </p>
        <p>
            <label class="w3-text-teal"><b>Nombre del Pokémon</b></label>
            <input class="w3-input w3-border" type="text" name="name" placeholder="Nombre del Pokémon" required  value="{{name}}">
        </p>
        <p>
            <label class="w3-text-teal"><b>Imagen (nombre del archivo)</b></label>
            <input class="w3-input w3-border" type="text" name="image" placeholder="Ejemplo: 001.png" required value="{{image}}">
        </p>
        <p>
            <label class="w3-text-teal"><b>Tipo (nombre del archivo)</b></label>
            <input class="w3-input w3-border" type="text" name="type_image" placeholder="Ejemplo: grass.png" required value="{{type}}">
        </p>
        <p>
            <button class="w3-button w3-teal" type="submit">Modificar Pokémon</button>
        </p>
    </form>
    {{/pokemon}}
    {{^pokemon}}
    <form class="w3-container w3-card-4" method="POST" action="/pokedex/add">
        <p>
            <label class="w3-text-teal"><b>Número de Pokémon</b></label>
            <input class="w3-input w3-border" type="number" name="number" placeholder="Número de Pokémon" required >
        </p>
        <p>
            <label class="w3-text-teal"><b>Nombre del Pokémon</b></label>
            <input class="w3-input w3-border" type="text" name="name" placeholder="Nombre del Pokémon" required  >
        </p>
        <p>
            <label class="w3-text-teal"><b>Imagen (nombre del archivo)</b></label>
            <input class="w3-input w3-border" type="text" name="image" placeholder="Ejemplo: 001.png" required >
        </p>
        <p>
            <label class="w3-text-teal"><b>Tipo (nombre del archivo)</b></label>
            <input class="w3-input w3-border" type="text" name="type_image" placeholder="Ejemplo: grass.png" required >
        </p>
        <p>
            <button class="w3-button w3-teal" type="submit">Agregar Pokémon</button>
        </p>
    </form>
    {{/pokemon}}
</div>