<!-- Formulario para agregar Pokémon -->
<div class="w3-container w3-padding">
    {{#pokemon}}
        <h1>{{name}}</h1>
        <p>{{number}}</p>
            <p>{{name}}</p>
            <p>{{image}}</p>
            <p>{{type}}</p>
    {{/pokemon}}
    {{^pokemon}}
      <div>ERROR: pokemon no encontrado</div>
    {{/pokemon}}
</div>