Options -Indexes

<FilesMatch ".*\.(log|ini|htaccess)$">
    deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /PW2-Preguntones/

    # Redirigir exactamente /index.php o cualquier ruta que lo contenga
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+PW2-Preguntones/index\.php [NC]
    RewriteRule ^index\.php$ /PW2-Preguntones/home [R=301,L]

    RewriteRule ^(public)($|/) - [L,NC]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/(.*)/(.*)$ index.php?page=$1&action=$2&$3 [L,QSA]
    RewriteRule ^(.*)/(.*)$ index.php?page=$1&action=$2 [L,QSA]
    RewriteRule ^(.*)$ index.php?page=$1 [L,QSA]
</IfModule>
