/* ESTILOS GENERALES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

main {
    min-height: calc(100vh - 80px);
    background-color: rgba(227, 227, 227, 0.5) !important;
    background-color: #ffffff !important;
    box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.75);
}


/* HELPERS */
.bor1 {
    border: 5px solid red;
}
.bor2 {
    border: 5px solid green;
}
.bor3 {
    border: 5px solid blue;
}

/* NAVBAR */

.hambugerContainer {
    /*width: 35px;*/
}

.hambugerContainer img {
    width: 100%;
}

.styledHeader {
    height: 80px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.testigo {
    position: absolute;
}

.styledHeader nav {
    height: 100%;
}

.userImageContainer {
    width: 50px;
}


.userImageContainer img {
    width: 100%;
}

th, td {
    text-align: center;
}

.userUbicationContainer  {
    width: 1.5rem !important;
}

.userUbicationContainer img {
    width: 100%;
}

.userImageContainer {
    width: 3rem !important;
}

.lineaSeparadora {
    border-left: 0.5px solid rgba(255, 255, 255, 0.5);
}
