.bg {
    background-image: url("/PW2-Preguntones/public/images/procesoCorrectoBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    background-color: rgba(0, 0, 0, 0.5) !important;
}