<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/PW2-Preguntones/public/css/registro.css" rel="stylesheet">
    <title>registro</title>
</head>
<body>
<div class="form-container">
    <h1>{{formTitle}}</h1>
    {{#error}}
        <h3>{{error}}</h3>
    {{/error}}
    <form action="{{formAction}}" method="POST">
        <div class="form-group">
            <label for="email">Dirección de correo</label>
            <input type="email" id="email" name="email" placeholder="email@address.com" required>
        </div>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" placeholder="Juan" required>
        </div>
        <div class="form-group">
            <label for="apellido">apellido</label>
            <input type="text" id="apellido" name="apellido" placeholder="Gonzalez" required>
        </div>
        <div class="form-group">
            <label for="anio_nacimiento">Fecha de nacimiento</label>
            <input type="date" id="anio_nacimiento" name="anio_nacimiento" required>
        </div>
        <div class="form-group">
            <label for="username">Nombre de usuario</label>
            <input type="text" id="username" name="username" placeholder="Pregunton01" required>
        </div>
        <!--   PAIS Y CIUDAD     -->
        <div class="form-group">
            <label for="location">País y ciudad</label>
            <select id="pais" name="pais">
                <option value="">Selecciona un país</option>
                {{#paises}}
                    <option value="{{id}}">{{nombre}}</option>
                {{/paises}}
            </select>
            <select id="ciudad" name="id_ciudad">
                <option value="">Selecciona una ciudad</option>
            </select>
        </div>
        <!--  SEXO  UwU    -->
        <div>
            <label for="sexo">Sexo</label>
            <select id="sexo" name="id_sexo">
                {{#sexo}}
                    <option value="{{id}}">{{nombre}}</option>
                {{/sexo}}
            </select>
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Repetir contraseña</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <div class="checkbox-group">
            <input type="checkbox" id="savePassword" name="savePassword">
            <label for="savePassword">Guardar contraseña</label>
        </div>
        <button type="submit">{{submitButtonText}}</button>
    </form>
    <div class="terms">
        Al crear su cuenta, acepta nuestros <a href="{{termsLink}}">Términos de servicio</a> y <a
            href="{{privacyLink}}">Política</a>
    </div>
    <div class="login-link">
        ¿Ya tienes una cuenta? <a href="{{loginLink}}">Inicia sesión aquí</a>
    </div>
</div>
<script src="/PW2-Preguntones/public/js/registro.js"></script>
</body>
</html>